
# DATABASE_URL= Postgres database access URL, this URL must follow the Prisma connection url format example:
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?KEY1=VALUE&KEY2=VALUE&KEY3=VALUE) 

# SUA_API_KEY= "API access key to be used for sending emails"
# PASS_HASH= "JWT secret key"